<section class="intro_page">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1>Erreur!</h1>
            </div>
        </div>
    </div>
</section>

<section class="content_page">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h2>Une erreur s'est produite...</h2>
                <p>Nous n'avons pu enregister votre commande de pièce par le bias de notre formulaire en ligne. Notre équipe a été prévenue.</p>

                <strong>Merci de nous contacter au 418-247-5955 pour passer votre commande.</strong>

            </div>
        </div>
    </div>
</section>
