<section class="intro_page header_page intro_recherche_approfondie">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1>Recherche approfondie</h1>
            </div>
        </div>
    </div>
</section>

<div class="cap_white"></div>

<section class="content_page bg_dust">
    <div class="grid-container">
        <div class="grid-x grid-margin-y grid-margin-x">
            <div class="cell center">
                <h2>Nous trouvons les pièces dont vous avez besoin!</h2>
                <p class="highlight">Vous n'arrivez pas à trouver la pièce qu'il vous faut ou vous n'avez pas le temps de le faire? Notre département des pièces
                s'occupe de trouver la bonne pièce à votre place.</p>
            </div>
        </div>


        <div class="grid-x">
            <div class="cell large-6 card_prix flex_center">
                <div>

                <h2>Recherche approfondie</h2>
                <cite>Nous obtenons vos pièces au meilleur prix</cite>
                <p>
                    <i>Tarif de 50$/heure</i>
                </p>
            </div>
            </div>
            <div class="cell large-6 card_info flex_center">
                <div>
                    <h3>Inclus</h3>
                        <ul>
                            <li>Garantie de comptabilité</li>
                            <li>Pièce au meilleur prix</li>
                        </ul>

                </div>
            </div>
        </div>

<br>
        <div class="grid-x">
            <div class="cell large-6 card_prix flex_center">
                <div>

                <h2>Recherche <br>EXPRESS</h2>
                <cite>Votre demande est traitée en priorité</cite>
                <p>
                    <i>Tarif de 150$/heure</i>
                </p>
            </div>
            </div>
            <div class="cell large-6 card_info flex_center">
                <div>
                    <h3>Inclus</h3>
                    <ul>
                        <li><strong>Recherche prioritaire/urgente</strong></li>
                        <li>Pièces au meilleur prix</li>
                        <li>Garantie de comptabilité</li>
                        <li>Réponse en 24h</li>
                    </ul>


                </div>
            </div>
        </div>


    </div>
</section>
<section class="content_page">
    <div class="grid-container">
        <div class="grid-x grid-margin-x center">
            <div class="cell large-4">
                <h3>Meilleur prix</h3>
                <p>Nous travaillons avec plusieurs fournisseurs et nous pouvons obtenir des
                prix avantageux!</p>
            </div>
            <div class="cell large-4">
                <h3>Certifié conforme</h3>
                <p>Nos spécialistes aux pièces trouvent les pièces compatibles avec votre équipement.</p>
            </div>
            <div class="cell large-4">
                <h3>Réponse rapide</h3>
                <p>Vous obtenez une réponse de notre part en 48h ou moins selon votre recherche.</p>
            </div>
        </div>

    </div>
</section>


<section class="content_page">
    <div class="grid-container">
        <div class="grid-x grid-margin-x flex_center">

            <div class="cell large-12 center">
                <h2>Faites votre demande en ligne</h2>
                <p class="highlight">Vous recherchez des pièces bien précise? utilisez notre formulaire en ligne et obtenez une réponse en 48h!</p>
                <%= link_to "Demande de recherche", contact_recherche_approfondie_url, class: "button large" %>

            </div>
        </div>
    </div>
</section>
