<section class="intro_page intro_evaluation_equipement">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1>Evaluation d'équipement</h1>
            </div>
        </div>
    </div>
</section>
<div class="cap_white"></div>
<section class="content_page bg_dust">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y flex_center">
            <div class="cell large-5">
                <h2 class="hero">Connaissez-vous la valeur de votre équipement?</h2>
                <p>
                    Vous souhaitez mettre en vente ou échanger votre équipement agricole mais vous n'êtes pas
                    sur de sa valeur au moment de vous en départir? Nous vous aidons à determiner la valeur juste de votre équipement
                    en se basant sur le marché!
                </p>
                <br>
                <h3>Nos critères</h3>
                <ul>
                    <li>- Ancienneté de l'équipement</li>
                    <li>- Réparations à prévoir</li>
                    <li>- Valeur comparative du marché</li>
                    <li>- Demande sur le marché</li>
                    <li>- Rareté du modèle </li>
                </ul>

            </div>
                <div class="cell large-7">
                    <%= image_tag("evaluation_machine_usagee_dollar.png") %>
                </div>
        </div>
    </div>
</section>
<div class="cap_gray"></div>
<section class="content_page_light">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell">
                <h2 class="hero">Nous vous donnons la valeur d'échange  de votre équipement</h2>
            </div>
            <div class="cell large-4">
                <h3>Inspection de l'équipement</h3>
                <p>
                    Nos équipes procèdent à une inspection en profondeur de votre équipement afin
                    d'en determiner la valeur de revente ou d'échange.
                </p>
            </div>
            <div class="cell large-4">
                <h3>Comparaison au marché</h3>
                <p>
                    Nous comparons la valeur de revente ou d'échange de votre équipement avec
                    des marques et modèles similaires sur le marché de l'occasion.
                </p>
            </div>
            <div class="cell large-4">
                <h3>Rapport d'évaluation</h3>
                <p>
                    Nous vous remettons un rapport d'inspection de votre équipement faisant état
                    de la valeur ainsi que les réparations ou amélioration à prévoir.
                </p>
            </div>
        </div>
    </div>
</section>
<div class="cap_white"></div>

<section class="content_page">
    <div class="grid-container">

        <div class="grid-x">
            <div class="cell large-6 card_prix flex_center">
                <div>
                    <h2>Evaluation d'équipement</h2>
                    <cite>Obtenez la juste valeur de votre équipement</cite>
                    <p>
                        <strong>A partir de 2500$ + tx</strong>
                    </p>
                </div>
            </div>
            <div class="cell large-6 card_info flex_center">
                <div>
                    <h3>Inclus</h3>
                    <ul>
                        <li>Inspection de l'équipement</li>
                        <li>Comparaison au marché</li>
                        <li>Réparations à prévoir</li>
                        <li>Rapport d'évaluation</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<section class="cta_page">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h2>Nous vous offrons l'évaluation à l'achat d'un équipement!</h2>
                <p>Pour tout achat d'un équipement neuf ou usagé chez LAVOIE Equipement, nous vous offrons l'inspection pour déterminer la valeur d'échange.</p>
                <%= link_to "Demander une évaluation!", contact_evaluation_equipement_url, class: "button large" %>
            </div>
        </div>
    </div>
</section>
