<section class="intro_page">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1>Carrières</h1>
            </div>
        </div>
    </div>
</section>

<div class="cap_white"></div>

<section class="content_page">
    <div class="grid-container">
        <div class="grid-x grid-margin-y">
            <div class="cell large-12">
                <h2>Pourquoi LAVOIE?</h2>
                <p>Malgré c'est 30 ans d'existance, LAVOIE Équipement est toujours une entreprise en pleine croissance.
                    Que ce soit par l'évolution de la demande et du marché, des défis techniques ou bien par l'innovation, l'entreprise
                    se renouvelle en permanence. C'est inscrit dans l'ADN. Les personnes qui y travaillent repoussent sans cesses les limites.
                    En choississant LAVOIE, vous choississez de vous mettre au défi et d'évoluer dans votre carrière. Nous vous accompagnons dans cette évolution.
                </p>
            </div>

            <div class="cell large-4">
                <h3>Explorer votre potentiel</h3>
                <ul>
                    <li>Formation continue</li>
                    <li>Outils selon vos besoins</li>
                    <li>Autonomie et liberté d'actions</li>
                </ul>

            </div>

                <div class="cell large-4">
                    <h3>Respecter votre équilibre de vie</h3>
                    <ul>
                        <li>Horaire de travail flexible</li>
                        <li>Journée de congés pour les imprévus</li>
                        <li>Travail à distance</li>
                    </ul>
                </div>

                <div class="cell large-4">
                    <h3>Des avantages sociaux</h3>
                    <ul>
                        <li>Bonification du salaire selon niveau d’anglais</li>
                        <li>RVER avec cotisation de l’employeur</li>
                        <li>Activités sociales (BBQ, Cabane à sucre et plus)</li>
                    </ul>


                </div>

            </div>
        </div>
    </div>
</section>

<section class="content_page postes_ouverts">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">

                <h2>Ce que nous cherchons</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            </div>
        </div>
    </div>
</section>
<section class="content_page postes_ouverts">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">

                <h2>Les postes ouverts</h2>
                <ul>
                    <li> <%= link_to "Mécanicien(ne) agricole", poste_url %> </li>
                    <li>Contrôleur(se) financier</li>
                    <li>Commis(e) aux pièces</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="cta_page">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell large-12">
                <h3>Nous recherchons tout type de profil!</h3>
                <p>
                    Aucuns des postes ne semble vous correspondre?
                    Notre entreprise évolue et nos besoins aussi!
                </p>
                <br>
                <p>
                    <%= link_to "Candidature spontanée", candidature_spontanee_url, class: "button large" %>
                </p>
        </div>
    </div>
</section>
