<section class="intro_page intro_entreprise">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1>L'entreprise LAVOIE</h1>
            </div>
        </div>
    </div>
</section>

<div class="cap_white">

<section class="content_page bg_dust">
    <div class="grid-container">

        <div class="grid-x grid-margin-x grid-margin-y">

            <div class="cell large-12">
                <h2 class="hero">Une histoire de famille</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    empor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                    veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                     ea commodo consequat. Duis aute irure dolor in reprehenderit in volup
                  </p>
            </div>
        </div>

        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell large-4">
                <img src="http://placehold.it/550" alt="">
            </div>
            <div class="cell large-4">
                <img src="http://placehold.it/550" alt="">
            </div>
            <div class="cell large-4">
                <img src="http://placehold.it/550" alt="">
            </div>
        </div>

    </div>
</section>

<div class="cap_gray"></div>

<section class="content_page_dark content_notre_adn ">
    <div class="grid-container spacer_bottom">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell">
                <h2 class="section">Notre ADN</h2>
            </div>
            <div class="cell large-4">
                <h3>Passion</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="cell large-4">
                <h3>Rigueur</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="cell large-4">
                <h3>Expertise</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</section>
<div class="cap_white"></div>
<section class="content_page no_bg evolution">
    <div class="grid-container">

        <div class="grid-x">
            <div class="cell large-12">
                <h2 class="hero">Evolution</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</section>
<section class="content_page no_bg implications">
    <div class="grid-container">

        <div class="grid-x">
            <div class="cell large-12">
                <h2 class="hero">Implications sociales</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</section>
<section class="content_page no_bg entreprise_aujourdhui">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-12">
                <h2 class="hero">L'entreprise aujourd'hui</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
</section>



<section class="cta_page">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell large-12">
                <h3>Venez nous rencontrer!</h3>
                <p>
                    Vous souhaitez visitez nos installations ou rencontrer un membre de <strong><%= link_to "l'équipe LAVOIE?", equipe_url() %></strong> il nous fera
                    plaisir de vous rencontrer et répondre à vos questions!
                </p>
                <br>
                <p>
                    <%= link_to "Contactez-nous!", contact_url, class: "button large" %>
                </p>
        </div>
    </div>
</section>
