<section class="intro_page intro_transport_horsnormes">
    <div class="grid-container">
    <div class="grid-x">
        <h1>Transport hors-normes</h1>
    </div>
    </div>
</section>
<div class="cap_white"></div>
<section class="content_page bg_dust">
    <div class="grid-container">
        <div class="grid-x flex_center">
            <div class="cell large-6">
                <h2 class="hero">Transportez en toute sécurité</h2>
                <p>
                    Nous transportons des équipements de largeur ou de poids excessif depuis
                    plus de 20 ans maintenant. Notre département du transport dispose de l'expertise
                    nécessaire pour vous permettre de transporter des équipements hors-normes en toute sécurité.
                </p>
                <br>

                <h3>Type d'équipements hors-normes transportés</h3>
                <p>Toutes machines agricoles, Machines industrielles ou de constructions, Double drop à cou détachable 2 essieux, Autres largeurs excessive</p>

            </div>
            <div class="cell large-offset-1 large-5 ">
                <%= image_tag('panneau_oversize.png') %>
            </div>


        </div>
    </div>
</section>
<div class="cap_gray"></div>
<section class="content_page_light">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell">
                <h2  class="hero">Chargement spécial, attention spéciale! </h2>
            </div>
            <div class="cell large-4">
                <h3>Véhicules d'escortage</h3>
                <p>
                    Dans ce type de transport, notre première préoccupation est la sécurité du transport et des usagés de
                    la route. Aussi, nous nous assurons de signaler le transporteur avec nos équipes  d'escortage pour
                    les chargements hors-normes.
                </p>
            </div>

            <div class="cell large-4">
                <h3>Déclaration des routes</h3>
                <p>
                    Impossible de circuler avec un chargement hors-normes (taille ou poids) sans avoir au préalable
                    déclarer les routes que le transporteur devra emprunter auprès du gouvernement. Nous effectuons
                    avec précision toutes les routes.
                </p>
            </div>

            <div class="cell large-4">
                <h3>Autorisations des autorités</h3>
                <p>
                    En plus des autorisations habituelles, les équipement hors-normes nécessite des autorisations
                    spécifiques pour pouvoir voyager dans ou à l'extérieur du Québec. Nous nous assurons que
                    tout soit en ordre avant le départ.
                </p>
            </div>

        </div>
    </div>
</section>
<section class="content_page">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-6 card_prix">
                <h2>L'offre Transport <br>Hors-Normes</h2>
                <p>A partir de <strong>9500$ + tx</strong></p>
            </div>
            <div class="cell large-6 card_info">
                <h3>Inclus</h3>
                    <ul>
                        <li><strong>Service de transport (inclus)</strong></li>
                        <li>Véhicules d'escortage</li>
                        <li>Déclarations des routes</li>
                        <li>Autorisations provinciales/fédérales</li>
                        <li>Transport international (en option)</li>
                    </ul>
            </div>
        </div>
    </div>
</section>

<section class="social_content">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell">
                <h3>Ils nous font confiance</h3>
            </div>

                <div class="cell auto ">
                           <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">
                </div>
                <div class="cell auto">
                    <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">
                </div>
                <div class="cell auto">
                    <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">
                </div>
                <div class="cell auto ">
                    <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">
                </div>
                <div class="cell auto ">
                    <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">
                </div>
                <div class="cell auto ">
                    <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">

                </div>
                <div class="cell auto ">
                    <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">

                </div>
        </div>
    </div>
</section>

<%= render partial: "web/services/transport/estimation_transport" %>
