<section class="intro_page intro_transport_international">
    <div class="grid-container">
        <div class="grid-x">
            <h1>Transport international</h1>
        </div>
    </div>
</section>
<div class="cap_white"></div>
<section class="content_page">
    <div class="grid-container">
        <div class="grid-x flex_center">
            <div class="cell large-5">

            <h2 class="hero">Nous allons partout en amérique du nord</h2>
            <p>
                Avec plus de 20 ans d'expérience de transport et de logistique, nous sommes allés
                 dans divers endroits en amérique du nord (Canada/États-unis). Notre département
                 du transport est régulièrement en contact avec les autorités douanières des deux pays
                 et connait parfaitement les exigences administratives liées au transport international.
             </p>

            </div>
            <div class="cell large-offset-1 large-6 center">
                <%= image_tag('map_canada_usa_transport.png') %>
            </div>
        </div>
    </div>
</section>
<div class="cap_gray"></div>
<section class="content_page_light">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell">
                <h2 class="hero">Le transport international ne s'improvise pas</h2>
            </div>
                <div class="cell large-6">
                <h3>Certificat d'Origine</h3>
                <p>Avant de traverser la frontière, toutes machines doit posséder un certificat d'origine. C'est un document
                obligatoire demandé par les autorités douanières. Nous nous occupons d'obtenir ce certificat à votre place.</p>
            </div>
            <div class="cell large-6">
                <h3>Inspection sanitaire</h3>
                <p>Afin de ne pas voir son transport bloqué à la frontière, il est impératif de faire nettoyer correctement
                les équipements avant d'entreprendre la traversée. Nos équipes s'assurent que tout soit en ordre.</p>
            </div>
            <div class="cell large-6">
                <h3>Autorisation aux douanes</h3>
                <p>
                    Point sensible pour tout pays, les douanes nécessite d'obtenir des autorisations pour être franchies avec
                    de la marchandise. Avec de nombreux passages de douanes à notre actif, nous vous assurons un passage sans
                    encombres. </p>
            </div>
            <div class="cell large-6">
                <h3>Déclarations</h3>
                <p>
                    Tout transport entrant dans un autre pays doit être déclaré au préalable. Nous effectuons ces déclarations
                    pour nos transports afin que tout soit en règle auprès des gouvernements.
                </p>
            </div>
        </div>

    </div>
</section>
<div class="cap_white"></div>
<section class="content_page">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-6 card_prix flex_center">
                <div>
                    <h2>L'offre <br>Transport international</h2>
                    <p>
                        <strong>A partir de 7500$ + tx</strong>
                    </p>
                </div>
            </div>
            <div class="cell large-6 card_info flex_center">
                <div>
                    <h3>Inclus</h3>
                    <ul>
                        <li><strong>Service de transport (inclus)</strong><br></li>
                        <li>Certificat d'origine</li>
                        <li>Inspection sanitaire</li>
                        <li>Autorisation aux douanes</li>
                        <li>Déclarations fédérales/provinciales</li>
                        <li>Transport hors-normes (en option)</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="social_content">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell">
                <h3>Ils nous font confiance</h3>
            </div>

                <div class="cell auto ">
                           <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">
                </div>
                <div class="cell auto">
                    <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">
                </div>
                <div class="cell auto">
                    <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">
                </div>
                <div class="cell auto ">
                    <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">
                </div>
                <div class="cell auto ">
                    <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">
                </div>
                <div class="cell auto ">
                    <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">

                </div>
                <div class="cell auto ">
                    <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">

                </div>
        </div>
    </div>
</section>

<%= render partial: "web/services/transport/estimation_transport" %>
