<section class="intro_page intro_transport_machinerie">
    <div class="grid-container">
        <div class="grid-x">
            <h1>Transport de machinerie</h1>
        </div>
    </div>
</section>

<div class="cap_white"></div>
<section class="content_page bg_dust">
    <div class="grid-container spacer_bottom">
        <div class="grid-x grid-margin-y grid-margin-x">
            <dixv class="cell center">
                <h2>Nous transportons tout type d'équipements</h2>
                <p class="highlight">Que soit de la machinere agricole ou industrielle, nous avons l'expertise pour vous offrir <br>un transport sécuritaire.</p>
            </div>
        </div>


    <div class="grid-container">
        <div class="grid-x">
            <div class="cell large-6 card_prix flex_center">
                <div>

                <h2>Notre offre Transport</h2>
                <p>
                    <strong>A partir de 5900$ + tx</strong>
                </p>
            </div>
            </div>
            <div class="cell large-6 card_info flex_center">
                <div>
                    <h3>Inclus</h3>
                        <ul>
                            <li>Planification du transport</li>
                            <li>Inspection de sécurité</li>
                            <li>Suivi en temps réel</li>
                            <li>Transport hors-normes (en option)</li>
                            <li>Transport international (en option)</li>
                        </ul>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="social_content">

<div class="grid-container">
    <div class="grid-x grid-margin-x grid-margin-y spacer_bottom">
        <div class="cell">
            <h2 class="hero">Votre transport sous contrôle</h2>
        </div>
        <div class="cell large-4">
            <h3>Planification du transport</h3>
            <p>
                Prendre du retard pour la livraison d'un équipement ou d'une machine, c'est perdre de l'argent!
                Pour éviter cela, nous ne laissons rien au hasard nous planifions votre transport dans les moindres
                détails.
            </p>
        </div>

        <div class="cell large-4">
            <h3>Inspection de sécurité</h3>
            <p>
                Nous effectuons une inspection de sécurité de nos moyens de transport ainsi que du chargement
                dont nous avons la responsabilité avant de partir sur la route. Ainsi, nous garantisons la
                sécurité de tous et le bon déroulement du transport.
            </p>
        </div>

        <div class="cell large-4">
            <h3>Suivi en temps réel</h3>
            <p>Lors de nos voyages, nous suivons nos transporteurs en permanence! Que ce soit pour gérer les imprévus
            changer votre destination ou pour communiquer de l'information, nous restons en contact.
        </div>

    </div>
</div>
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell">
                <h3>Ils nous font confiance</h3>
            </div>

                <div class="cell auto ">
                           <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">
                </div>
                <div class="cell auto">
                    <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">
                </div>
                <div class="cell auto">
                    <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">
                </div>
                <div class="cell auto ">
                    <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">
                </div>
                <div class="cell auto ">
                    <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">
                </div>
                <div class="cell auto ">
                    <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">

                </div>
                <div class="cell auto ">
                    <img src="http://placehold.it/150?text=LOGO+FERME " alt="Brand">

                </div>
        </div>
    </div>
</section>

<%= render partial: "web/services/transport/estimation_transport" %>
