<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= "Notification TI : " + @sujet %></h1>
    <p>
        <%= @message %>
    </p>
    <p><small>Envoi fait le <%= Time.now %></p>
  </body>
</html>
