<section class="intro_page intro_contact">
    <div class="grid-container">
        <h1>Votre message a bien été envoyé!</h1>
    </div>
</section>
<div class="cap_white"></div>
<section class="cta_page">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">

            <h2>Un membre de notre équipe vous contactera prochainement</h2>
            <br>
            <p><%= link_to "Revenir à la page d'accueil", root_url, class: "button large" %></p>
            </div>
        </div>
    </div>
</section>
