<section class="intro_page">
    <div class="grid-container">
        <div class="grid-x">
            <div class="cell">
                <h1>Faucheuse</h1>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="grid-container">

        <div class="grid-x grid-margin-x grid-margin-y flex_center">
            <div class="cell large-4">
                 <%= image_tag("logo/logo_macdon.png") %>
            </div>
            <div class="cell large-8">
                <h2>Liste des modèles</h2>
                <ul>
                    <li>Modele 1</li>
                    <li>Modele 2</li>
                    <li>Modele 3</li>
                    <li>Modele 4</li>
                    <li>Modele 5</li>
                    <li>Modele 6</li>
                </ul>
            </div>
        </div>

        <div class="grid-x grid-margin-x grid-margin-y flex_center">
            <div class="cell large-4">
                 <%= image_tag("logo/logo_case_ih.png") %>
            </div>
            <div class="cell large-8">
                <h2>Liste des modèles</h2>
                <ul>
                    <li>Modele 1</li>
                    <li>Modele 2</li>
                    <li>Modele 3</li>
                    <li>Modele 4</li>
                    <li>Modele 5</li>
                    <li>Modele 6</li>
                </ul>
            </div>
        </div>
        <div class="grid-x grid-margin-x grid-margin-y flex_center">
            <div class="cell large-4">
                 <%= image_tag("logo/logo_john_deere.png") %>
            </div>
            <div class="cell large-8">
                <h2>Liste des modèles</h2>
                <ul>
                    <li>Modele 1</li>
                    <li>Modele 2</li>
                    <li>Modele 3</li>
                    <li>Modele 4</li>
                    <li>Modele 5</li>
                    <li>Modele 6</li>
                </ul>
            </div>
        </div>



    </div>
</section>
