<%= render partial: 'web/services/equipements/types/type_'+ @type %>

<section class="cta_page">
    <div class="grid-container">
        <div class="grid-x grid-margin-x grid-margin-y">
            <div class="cell large-12">
                <h3>Nos spécialistes en équipement agricole vous accompagne</h3>
                <p>
                    Nous écoutons vos besoins et nous vous proposons un équipement adapté.
                </p>
                <br>
                <p>
                    <%= link_to "Rencontrer un vendeur", contact_url, class: "button large" %>
                </p>
        </div>
    </div>
</section>
